---
import Timeline from "./Timeline.astro";
import Portfolio from "../icons/Portfolio.astro";
import Color from "../Color";
---

<section>
  <h2 class="text-4xl py-10 flex items-center gap-x-4">
    <Portfolio size={42} color={Color.secondary40} />
    Experiencia
  </h2>
  <Timeline />
</section>
